.page-container{
    display: flex;
    align-items: flex-start;
    height: 90vh;
}
.main-content{
    flex: 1;
    padding: 28px;
    transition: padding-left 0.3s ease;
}
.nav-open .main-content{
    padding-left: 20vw;
}
