.page-container{
    display: flex;
    align-items: flex-start;
    height: 90vh;
}
.main-content{
    flex: 1;
    padding: 0 28px 28px 28px;
    padding-left: 20vw;
    transition: padding-left 0.3s ease;
}

.nav-close .main-content{
    padding: 0 28px 28px 28px;
}
