header{
    background-color: #029b3c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 5% 10px 5%;
    height: 10vh;
}
.image-section img{
    height: 50px;
}

