.side-nav{
	z-index: 100;
	width: 260px;
	padding: 28px 18px;
	background: #f7f7f8;
	position: fixed;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: width 220ms ease;
}

.side-nav.open{
	width: 260px;
}
.side-nav.closed{
	width: 80px;
}
.side-nav-header{
	display: inline-flex;
	justify-content: center;
}
.side-nav-header button:hover{
	cursor: pointer;
	color: red;
}
.nav-items{
	display: flex;
	flex-direction: column;
}
.nav-link, .dropdown-toggle{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	color: #111;
	font-size: 22px; /* big text */
	font-weight: 600;
	padding: 12px 14px;
	border-radius: 8px;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-bottom: 8px;
	/* gap:5px; */
}
.nav-link:hover, .dropdown-toggle:hover{
	background: rgba(0,0,0,0.04);
}
.dropdown-toggle{
	width: 100%;
	background: transparent;
}
.caret{
	margin-left: 8px;
	font-size: 16px;
}
.dropdown-menu{
	margin-top: 6px;
	margin-left: 8px;
	display: flex;
	flex-direction: column;
}
.dropdown-item{
	text-decoration: none;
	color: #222;
	font-size: 20px;
	padding: 8px 12px;
	border-radius: 6px;
	margin: 4px 0;
}
.dropdown-item:hover{
	background: rgba(0,0,0,0.03);
}
.nav-full{
	transition: opacity 180ms ease, transform 180ms ease;
}
.side-nav.closed .nav-full{
	opacity: 0;
	transform: translateX(-8px);
	pointer-events: none;
}
.side-nav.open .nav-full{
	opacity: 1;
	transform: none;
	pointer-events: auto;
}

.nav-mini{
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	transition: opacity 180ms ease, transform 180ms ease;
}
.side-nav.open .nav-mini{
	opacity: 0;
	transform: translateX(8px) scale(0.95);
	pointer-events: none;
}
.side-nav.closed .nav-mini{
	opacity: 1;
	transform: none;
	pointer-events: auto;
}
.mini-nav-section-header button:hover{
	cursor: pointer;
	color: red;
}
.mini-nav-link{
		display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	text-decoration: none;
	color: #111;
	font-size: 20px; 
	padding: 10px 8px;
	border-radius: 8px;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-bottom: 8px;
}
.mini-nav-link:hover{
	background: rgba(0,0,0,0.04);
}

.main-content{
	flex: 1;
	padding: 28px;
}

