.side-nav-section{
	z-index: 100;
	width: 260px;
	padding: 28px 18px;
	background: #f7f7f8;
	position: fixed;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.side-nav-header{
	display: inline-flex;
	justify-content: flex-end;
}
.side-nav-header button:hover{
	cursor: pointer;
	color: red;
}
.nav-items{
	display: flex;
	flex-direction: column;
}
.nav-link, .dropdown-toggle{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	color: #111;
	font-size: 22px; /* big text */
	font-weight: 600;
	padding: 12px 14px;
	border-radius: 8px;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-bottom: 8px;
	/* gap:5px; */
}
.nav-link:hover, .dropdown-toggle:hover{
	background: rgba(0,0,0,0.04);
}
.dropdown-toggle{
	width: 100%;
	background: transparent;
}
.caret{
	margin-left: 8px;
	font-size: 16px;
}
.dropdown-menu{
	margin-top: 6px;
	margin-left: 8px;
	display: flex;
	flex-direction: column;
}
.dropdown-item{
	text-decoration: none;
	color: #222;
	font-size: 20px;
	padding: 8px 12px;
	border-radius: 6px;
	margin: 4px 0;
}
.dropdown-item:hover{
	background: rgba(0,0,0,0.03);
}
.mini-nav-section{
	/* width: 100px; */
	padding: 28px 18px;
	background: #f7f7f8;
	position: fixed;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
/* .mini-nav-section-header{
	display: inline-flex;
	justify-content: center;
} */
.mini-nav-section-header button:hover{
	cursor: pointer;
	color: red;
}
.mini-nav-link{
		display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	color: #111;
	font-size: 22px; 
	padding: 12px 14px;
	border-radius: 8px;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-bottom: 8px;
}
.mini-nav-link:hover{
	background: rgba(0,0,0,0.04);
}

.main-content{
	flex: 1;
	padding: 28px;
}

